@function rotate-shapes($shapes, $steps, $origin: (50%, 50%)) {
  $rotated-shapes: ();
  @each $name, $value in $shapes {
    @if str-contains($value, ('polygon')...) {
      @each $deg in $steps {
        $unitless: $deg / ($deg * 0 + 1);
        $rotated-path: rotate-path($value, $deg, $origin);
        $rotated-shapes: map-merge((
          '#{$name}-rotate-#{$unitless}': $rotated-path
        ), $rotated-shapes);
      }
    }
  }
  @return $rotated-shapes;
}
